<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login - Avirant Information Collector</title>
  <link rel="stylesheet" type="text/css" href="/static/css/stylesec.css">
</head>
<body>
<header>
  <h1>Avirant Information Collector</h1>
</header>
<main>
  <div class="form-container">
    <h1>Login</h1>
    <div th:if="${param.logout}" class="logout-message">
      <p>You have been logged out successfully.</p>
    </div>
    <form action="/perform_login" method="post">
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
      <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <button type="submit">Login</button>
    </form>
  </div>
</main>
</body>
</html>
